@font-face {
    font-family: 'KOTRAHOPE';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


*{
    font-family: 'KOTRAHOPE';
    color:#634646;
    text-align: center;
  

}

a{
    text-decoration: none;
}

button {
    width:100%;
    margin-left:0%;
    padding:.8em;
    font-size: 20px;
    border-radius: 8em;
    border: none;
    color: white;
    background-color: #ff7981;
    box-shadow:0 .3em .3em #CD4B53;
}

body{
    margin-left: calc(100%/8);
    margin-right: calc(100%/8);
    background-color: #f7EEE7;
}


.head{
    margin:2rem;
    font-size: x-large;
    text-align: center;
}

.head h2{
    margin: auto auto 0 auto;
}

main{
    margin:0 0rem 2rem 2rem;
}

.container{
    padding:.1em .1em .1em .1em;
    background: white;
    margin: .5em;
    margin-bottom: .8em;
    border-radius:1em;
    box-shadow: 0 .3em .3em #DDC3B8;
}

ul.tabs{
    margin: 0px;
    padding: 0px;
    display: flex;
    list-style: none;
   
  }


  ul.tabs li{
    background: #634646;
    width: calc(100%/2);
    font-size: 18px;
    color: #fff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    
    text-align: center;
    
   
    padding: 10px 15px;
    cursor: pointer;
  }

  ul.tabs li.current{
    background: none;
    color: #634646;
  }

  .tab-content.current{
    display: inherit;
  }
  .tab-content{
    display: none;
    
  }

form{
    position: relative;
    margin:0 .3em .3em 5px;
    padding:.6em;
    
    font-size: 20px;
}

form .form-example{
    background-color: white;
    padding: .3em 0 .3em 0;
    justify-content: left;
    
   
}
label{
    float:left;
    margin:0%;
}

input{
    text-align: left;
    margin:.2em 0 .2em 0;
    border-radius: 7px;
    width:100%;
    padding: .6em;
    background-color: #f7f4f2;
    border-width: 0;
   
    font-size: 18px;
    box-sizing: border-box;
}


.form-ex{
    width: auto;
    margin: 0;
}
.form-ex button{
   
    width:100%;
    margin-left:0%;
    padding:.8em;
    font-size: 20px;
    border-radius: 8em;
    border: none;
    color: white;
    background-color: #ff7981;
    box-shadow:0 .3em .3em #CD4B53;
}
